@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&display=swap");
.check-rates-bar {
    position: fixed;
    top: 70px;
    width: 100%;
    background-color: #D9D9D9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
    z-index: 999;
    height: 90px;
    gap: 20px;
}

.check-rates-bar> :first-child {
    padding-left: 50px;
    /* Add left padding to the first child */
}

.check-rates-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to bottom, black, transparent);
    z-index: -1;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;
}

.input-label {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}
.destination-input .MuiOutlinedInput-root,
.date-range-picker .MuiOutlinedInput-root,
.guests-input .MuiOutlinedInput-root {
    background-color: #363535;
    color: white;
    height: 33px;
    min-width: 300px;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.336);
    display: flex;
    align-items: center;
}

.MuiFormLabel-root-MuiInputLabel-root{
    line-height: 0;
    overflow: none;
}


.destination-input .MuiOutlinedInput-input,
.date-range-picker .MuiOutlinedInput-input,
.guests-input .MuiOutlinedInput-input {
    font-size: 0.85rem;
    padding: 0;
    top: -20px;
    text-align: center;
    line-height: normal;
    height: 100%;
}

.destination-input .MuiOutlinedInput-notchedOutline,
.date-range-picker .MuiOutlinedInput-notchedOutline,
.guests-input .MuiOutlinedInput-notchedOutline {
    border-radius: 0;
    border-color: white;
}

.check-rates-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.check-rates-button:hover {
    background-color: #555;
}