.checkout-page {
    padding: 100px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.booking-details {
    color: black;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 8px;
}

p {
    margin: 14px 0;
}