@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.signin-container {
    font-family: josefin sans;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    background-color: #ffffff;
}

.signin-left {
    color: black;
    flex: 1;
    padding: 0 50px;
}

.signin-left h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: left;
}

.signin-left p {
    font-size: 16px;
    margin-bottom: 20px;
}

.signin-left form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.signin-left form label {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 100;
    font-family: josefin sans;
}

.signin-button {
    transition: ease-in-out 0.2s;
    padding: 12px;
    background-color: #000;
    width: 20%;
    align-self: flex-end;
    border: 1.5px solid #000;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    z-index: 1;
}

.signin-button:hover {
    background-color: rgb(255, 255, 255);
    border-color: #f0d10b;
    color: black;
}

.register-link {
    margin-top: -30px;
}

.register-link a {
    transition: ease-in-out 0.2s;
    color: #000000;
}

.register-link a:hover {
    color: #f0d10b;
    text-decoration: underline;
}

.signin-right {
    flex: 1;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.log-out-button {
    margin-left: 20px;
}

.login-link {
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin-right: 10px
}