.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #000000;
    color: white;
    border-bottom: 0.5px solid white;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: -20px 15px 30px rgba(0, 0, 0, 0.847);
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.navbar-link-items {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 800;
}

.sign-in-button {
    transition: ease-in-out 0.2s;
    border: 1.5px solid #000;
    background-color: #ffffff;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    border-color: #ffffff;
    padding: 6px 30px;
    cursor: pointer;
    letter-spacing: 1px;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
    font-weight: 800;
}

.sign-in-button:hover {
    background-color: #000000;
    border-color: #f0d10b;
    color: white;
}

.navbar-link {
    text-align: left;
    z-index: 1000;
}

.account-link,
.login-link {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: 800;
    text-align: center;
    margin-right: 40px;
    margin-bottom: -7px;
}

.login-link {
    margin-bottom: -20px;
}

.additional-icon{
    width: 23px;
    height: auto;
    margin-right: 50px;
    color: white;
    cursor: pointer;
}