/* Login.css */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.register-container {
    font-family: josefin sans;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    background-color: #ffffff;
}

.register-left {
    color: black;
    flex: 1;
    padding: 0 50px;
}

.register-left h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: left;
}

.register-left p {
    font-size: 16px;
    margin-bottom: 20px;
}

.register-left form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.register-left form label {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 100;
    font-family: josefin sans;
}

.register-button {
    transition: ease-in-out 0.2s;
    padding: 12px;
    background-color: #000;
    width: 30%;
    align-self: flex-end;
    border: 1.5px solid #000;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
}

.register-button:hover {
    background-color: rgb(255, 255, 255);
    border-color: #f0d10b;
    color: black;
}



.register-link a:hover {
    color: #f0d10b;
    text-decoration: underline;
}

.register-right {
    flex: 1;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}