.room-details {
    position: relative;
    padding: 20px;
    background: white;
    box-shadow: inset 0px 0px 300px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    box-sizing: border-box;
    flex-grow: 1;
}

.room-option {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Gold outline when a box or select field is selected */
.room-option:focus-within select,
.room-option:focus-within input,
.room-option:focus-within textarea {
    outline: 1px solid gold;
    border-color: gold;
}

select {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 100%;
}

select:focus {
    outline: none;
    border-color: gold;
}

.room-details-button {
    background-color: #FFD700;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    left: 0;
}

.room-details h2,
.room-details p,
.room-details .room-options h3,
.room-details .room-option label {
    color: black;
}
